@model LojaVirtual.Models.Produto;

<h3>Produto -> Visualizar</h3>
:)

Razor:
@DateTime.Now

<h3>Produto</h3>
<b>Código:</b> @Model.Id<br>
<b>Nome:</b> @Model.Nome<br>
<b>Descrição:</b> @Model.Descricao<br>
<b>Valor:</b> @Model.valor.ToString("C")<br>

<br>
Todos os direitos reservados &copy; @DateTime.Now.Year